
* {
    margin: 0;
    padding: 0;
    outline: none;
}

html{
    width: 100%;
    font-family: 'Verdana',  sans-serif;

}

body{
    background-color: #404040;
}

hr{
    margin-bottom: 1%
}

/*Header*/
header{
    width: 100%;
    background-color: #131313;
    display: flex;
    justify-content: space-between;
}



.header_logo_text{
    font-size: 50px;
    font-weight: bold;
    margin: 10px 25px;
    text-decoration: none;
    color: #f5f5f5;
}

.header_logo_image{
    max-height: 50px

}

/*Navigator*/
.nav_link{
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 20px ;
    color: #c4c4c4;

}

.nav_link:hover{
    color: #ffffff;
}



/*Footer*/
.footer{
    background-color: #131313;
    border-top: solid silver 2px;
    color: #c4c4c4;
}

.p_footer{
    text-align: right;
    margin-right: 2%;
}

.nav_footer{
    margin-top: 1%;
}

.a_footer{
    font-size: 1em;
    text-decoration: none;
    color: #c4c4c4;
    margin: 1%;
}

.a_footer:hover{
    text-decoration-line: underline;
    color: #ffffff;
}

iframe{
    width: 80%;
    height: 5%;
    margin-left: 10%;
    border:0;
}


/*Button*/
#upBtn{
    width: 4%;
    display: none;
    position: fixed;
    left: 5%;
    bottom: 100px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#upBtn img{
    width: 100%;
}
.error{
    color: red;
    font-size: 1em;
}
.form{
    width: 60%;
    background-color: #242424;
    margin: 0 20%;
    padding: 10% 0;
    text-align: center;
    color: #c4c4c4;
}

.formElem {
    font-size: 2em;

}

.subBtn{
    background-color: #404040;
    padding: 10px 30px;
    margin-bottom: 100px;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    color: #c4c4c4;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.subBtn:hover{
    background-color: #313131;
}


.username_input{
    background: none;
    border: none;
    border-bottom: solid 2px #c4c4c4;
    font-size: 0.7em;
    letter-spacing: 1px;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    margin-bottom: 5%;
    color: #c4c4c4;
}

.email_input{
    background: none;
    border: none;
    border-bottom: solid 2px #c4c4c4;
    font-size: 0.7em;
    letter-spacing: 1px;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    margin-bottom: 5%;
    color: #c4c4c4;
}

.username_input:hover, .email_input:hover{
    background-color: #404040;
}
.combobox{
    width: 90%;
    text-align: left;
    display: flex;
    margin-left: 5%;
}
.comboEl{
    font-size: 2em;
    margin: 10%;
}
select {
    float: left;
    margin-top: 10%;
    font-size: 1em;
    color: #131313;
    background-color: #404040;
    border-radius: 0;
    font-weight: 400;
    padding: 11px 15px;
    line-height: normal;
    transition: border-color 0.2s ease,
    outline 0.2s ease;
}